{% extends 'MGClientsBackendBundle:Base:layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-10">
            <section class="panel">
                <header class="panel-heading">Payments</header>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Ad</th>
                            <th>Amount</th>
                            <th>Plan</th>
                            <th>Expires on</th>
                            <th>Method</th>
                            <th>Responsible</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for payment in payments %}
                        <tr>
                            <td>{% if payment.date %}{{ payment.date|date('d/m/Y H:i') }}{% endif %}</td>
                            <td><a href="{{ path('ads_edit', {'id': payment.ad.id })}}">{{ payment.ad.accommodation.name }}</a></td>
                            <td>${{ payment.amount }}</td>
                            <td>{{ payment.plan.name }}</td>
                            <td>{{ payment.dueDate|date('d/m/Y H:i') }}</td>
                            <td>{{ payment.method.name }}</td>
                            <td>{{ payment.responsible }}</td>
                            <td class="actions">
                                <div class="btn-group">
                                    <a class="btn btn-success" title="Edit" href="{{ path('payments_edit', { 'id': payment.id }) }}"><i class="fa fa-pencil"></i></a>
                                    {{ form_start(delete_forms[loop.index0]) }}
                                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                    {{ form_end(delete_forms[loop.index0]) }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
        <ul>
            <li>
                <a class="btn btn-primary btn-lg" href="{{ path('payments_new') }}">New Payment</a>
            </li>
        </ul>
    </div>
{% endblock %}
