<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{ subject }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    {% set accommodation = ad.accommodation %}
    {% set client = accommodation.client %}
    <body>
        {% block content %}
            Testing my email
        {% endblock %}
    </body>
</html>
