{# Template without inline styles and without last style updates#}

{% extends 'MGClientsBackendBundle:Emails:base.html.twig' %}

{% block content %}
<style>
    .container{
        font-family: serif;
        background-color: rgb(211, 211, 211);
        height: auto;
        padding: 20px 40px 40px 40px;
        color: #090D73;
    }
    .container h1 {
        color: #090D73
    }
    .container img {
        float: right;
        margin-right: 15px;
    }
    .content {
        background-color: white;
        color: rgba(2, 0, 0, 0.63);
        padding: 25px;
    }
    .ad_details{
        line-height: 30px;
        margin-left: 30px;
    }
    .accommodation{
        color: #090D73;
        font-weight: bold;
    }
    .signature {
        margin-top: 30px;
    }
    .signature div {
        margin: 30px 0;
        color: #090D73;
    }
    .expiration{
        color: red;
    }
    .signature img{
        float:left;
        margin-right: 15px;
    }

</style>

    <div class="container">
        {% image 'assets/img/logo/logo.png' %}
            <img src="{{ asset_url }}" alt="MGClients" width="100px" />
        {% endimage %}
        <h1>{{ subject }}</h1>

        <div class="content">
            <p>
                Hi {{ client.name }}{% if client.surname is not empty %} {{ client.surname }}{% endif %}!
                <br><br>
                The following add has been deactivated due to unpayed plan:
                <div class="ad_details">
                    Name: <span class="accommodation">{{ accommodation.name }}</span>
                    {% if accommodation.address %}<br>Address: {{ accommodation.address }}{% endif %}
                    <br>Expiration date: <span class="expiration">{{ ad.dueDate|date('d/m/Y')}}</span>
                </div>
                <br>
                <strong>To reactivate this add</strong> please <a href="mailto:mgclients.test@gmail.com">send us an email</a> and we'll restore it in less than 24 hours.</p>
            </p>
            <div class="signature">
                <p>
                    Best
                    <div>
                        {% image 'assets/img/logo/simple_logo.png' %}
                            <img src="{{ asset_url }}" alt="MGClients" width="100px" />
                        {% endimage %}
                        MGClients Team
                        <br><a href="mailto:mgclients.test@gmail.com">mgclients.test@gmail.com</a>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
