{# Template with inline styles #}

{% extends 'MGClientsBackendBundle:Emails:base.html.twig' %}

{% block content %}
<div class="container" style="font-family: serif;background-color: rgb(211, 211, 211);height: auto;padding: 10px 40px 40px 40px;color: #090D73;border: 2px solid #AAA;">
    <img src="{{ absolute_url(asset('images/f9862ce_logo_1.png'))}}" alt="MGClients" width="150px" style="float: right;margin-top: 12px;">
    <h1 style="color: #090D73;padding-top: 40px;font-weight: 300;font-size: 35px;">{{ subject }}</h1>

    <div class="content" style="background-color: white;color: rgba(2, 0, 0, 0.63);padding: 25px;font-size: 18px;border:10px solid #CCC;">
        <p>
            Hi {{ client.name }}{% if client.surname is not empty %} {{ client.surname }}{% endif %}!
            <br><br>
            This is an automatic reminder about the expiration of your ad:
            <div class="ad_details" style="line-height: 30px;margin-left: 30px;">
                Name:
                <span class="accommodation" style="color: #090D73;font-weight: bold;">{{ accommodation.name }}</span>
                {% if accommodation.address %}<br>Address: {{ accommodation.address }}{% endif %}
                <br>Expiration date:
                <span class="expiration" style="color: red;">{{ ad.dueDate|date('d/m/Y')}}</span>
            </div>
            <br>
            Please make sure to make your payment before that date otherwise we will be forced to deactivate your add.
            <br><br>If you already made your payment, please ignore this email.
            <br><br><strong>Questions? </strong>
            <a href="mailto:mgclients.test@gmail.com">Send us an email</a>
            and we'll get back to you in less than 24 hours.</p>

        <div class="signature" style="margin-top: 30px;">
            <p>
                Best
                <div style="margin: 30px 0;color: #090D73;">
                    <img src="{{ absolute_url(asset('images/019aa40_simple_logo_1.png'))}}" alt="MGClients" width="100px" style="float: left;margin-right: 15px;">
                    MGClients Team
                    <br>
                    <a href="mailto:mgclients.test@gmail.com">mgclients.test@gmail.com</a>
                </div>
            </p>
        </div>
    </div>
</div>
{% endblock %}
