{% extends 'MGClientsBackendBundle:Base:layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <section class="panel">
                <header class="panel-heading">Payment Methods</header>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for method in payment_methods %}
                        <tr>
                            <td>{{ method.name }}</td>
                            <td class="actions">
                                <div class="btn-group">
                                    <a class="btn btn-success" title="Edit" href="{{ path('payment_methods_edit', { 'id': method.id }) }}"><i class="fa fa-pencil"></i></a>
                                    {{ form_start(delete_forms[loop.index0]) }}
                                        <button method="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                    {{ form_end(delete_forms[loop.index0]) }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
        <ul>
            <li>
                <a class="btn btn-primary btn-lg" href="{{ path('payment_methods_new') }}">New Payment Method</a>
            </li>
        </ul>
    </div>
{% endblock %}
