<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}MGClients{% endblock %}</title>

        {% stylesheets "assets/scss/*" filter="scssphp" output="css/main.css" %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets "assets/css/*" filter="cssrewrite" output="css/styles.css" %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% javascripts filter="?jsqueeze" output="js/app.js"
            "assets/js/jquery-2.1.4.js"
            "assets/js/bootstrap-3.3.4.js"
            "assets/js/moment.min.js"
            "assets/js/bootstrap-datetimepicker.min.js"
            "assets/js/main.js"
            "assets/js/scripts.js"
            "assets/js/jquery.nicescroll.js"
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    {% block custom_body %}
    <body>
        <section id="container" class="">
            {% block body %}{% endblock %}
        </section>
    </body>

    {% endblock %}
</html>
