{% extends 'MGClientsBackendBundle:Base:layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <section class="panel">
                <header class="panel-heading">Ads</header>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Client</th>
                            <th>Accommodation</th>
                            <th>Plan</th>
                            <th>Due date</th>
                            <th>Active</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ad in ads %}
                        <tr>
                            <td>{{ ad.accommodation.client.name }} {{ad.accommodation.client.surname}}</td>
                            <td>{{ ad.accommodation.name }}</td>
                            <td>{{ plans[loop.index0] }}</td>
                            <td>{% if ad.dueDate %}{{ ad.dueDate|date('d/m/Y H:i') }}{% endif %}</td>
                            <td>{% if ad.active %}Yes{% else %}No{% endif %}</td>
                            <td class="actions">
                                <div class="btn-group">
                                    <a class="btn btn-success" title="Edit" href="{{ path('ads_edit', { 'id': ad.id }) }}"><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-primary" title="View payments" href="{{ path('payments_index', { 'ad': ad.id }) }}"><i class="fa fa-money"></i></a>
                                    {{ form_start(delete_forms[loop.index0]) }}
                                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                    {{ form_end(delete_forms[loop.index0]) }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
        <ul>
            <li>
                <a class="btn btn-primary btn-lg" href="{{ path('ads_new') }}">New Ad</a>
            </li>
        </ul>
    </div>
{% endblock %}
