{% extends 'MGClientsBackendBundle:Base:layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <section class="panel">
                <header class="panel-heading">Accommodation Types</header>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for accommodationType in accommodationTypes %}
                        <tr>
                            <td>{{ accommodationType.type }}</td>
                            <td class="actions">
                                <div class="btn-group">
                                    <a class="btn btn-success" title="Edit" href="{{ path('accommodation_types_edit', { 'id': accommodationType.id }) }}"><i class="fa fa-pencil"></i></a>
                                    {{ form_start(delete_forms[loop.index0]) }}
                                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                    {{ form_end(delete_forms[loop.index0]) }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
        <ul>
            <li>
                <a class="btn btn-primary btn-lg" href="{{ path('accommodation_types_new') }}">New Accommodation Type</a>
            </li>
        </ul>
    </div>
{% endblock %}
