{% extends 'MGClientsBackendBundle:Base:layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        <section class="panel">
            <header class="panel-heading">Accommodations</header>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Client</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for accommodation in accommodations %}
                    <tr>
                        <td>{{ accommodation.name }}</td>
                        <td>{{ accommodation.type.type }}</td>
                        <td>{{ accommodation.client.name ~ ' ' ~ accommodation.client.surname }}</td>
                        <td class="actions">
                            <div class="btn-group">
                                <a class="btn btn-success" title="Edit" href="{{ path('accommodations_edit', { 'id': accommodation.id }) }}"><i class="fa fa-pencil"></i></a>
                                {{ form_start(delete_forms[loop.index0]) }}
                                    <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                {{ form_end(delete_forms[loop.index0]) }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
    <ul>
        <li>
            <a class="btn btn-primary btn-lg" href="{{ path('accommodations_new') }}">New Accommodation</a>
        </li>
    </ul>
</div>
{% endblock %}
