{% extends 'MGClientsBackendBundle:Base:layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        <section class="panel">
            <header class="panel-heading">Clients</header>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.name }}</td>
                        <td>{{ client.surname }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.address }}</td>
                        <td class="actions">
                            <div class="btn-group">
                                <a class="btn btn-success" title="Edit" href="{{ path('clients_edit', { 'id': client.id }) }}"><i class="fa fa-pencil"></i></a>
                                {{ form_start(delete_forms[loop.index0]) }}
                                    <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                {{ form_end(delete_forms[loop.index0]) }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
    <ul>
        <li>
            <a class="btn btn-primary btn-lg" href="{{ path('clients_new') }}">New Client</a>
        </li>
    </ul>
</div>
{% endblock %}
