/* Vicky's customizations */

.login-logo {
    text-align: center;
    img {
        position: absolute;
        display: block;
        width: 25%;
        margin: 5% 5% 2% 0%;
    }
}

.backend-logo {
    height: 31px;
}

header, #sidebar{
    top: 0;
}

ul.actions li{
    display: inline;
}

tr th, tr td {
    text-align: center
}

td.actions form{
    display: inline;

    .btn-danger{
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}
