{% extends 'MGClientsBackendBundle:Base:layout.html.twig' %}

{% block content %}

{% if expired is not empty %}

<div class="row">
    <div class="col-sm-9">
        <section class="panel">
            <div class="panel panel-danger">
                <div class="panel-heading">Expired Ads</div>
                <div class="panel-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Expired on</th>
                                <th>Client</th>
                                <th>Email</th>
                                <th>Accommodation</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for ad in expired %}
                            <tr>
                                <td>{{ ad.dueDate|date('d/m/Y H:i') }}</td>
                                <td>{{ ad.accommodation.client.name }} {{ ad.accommodation.client.surname}}</td>
                                <td>{{ ad.accommodation.client.email }}</td>
                                <td>{{ ad.accommodation.name }}</td>
                                <td class="actions">
                                    <div class="btn-group">
                                        <a class="btn btn-primary" title="Send notice" href="#">
                                        {# href="{{ path('clients_edit', { 'id': client.id }) }}"> #}
                                            <i class="fa fa-envelope-o"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-sm-6">
        <section class="panel">
            <div class="panel panel-primary">
                <div class="panel-heading">Upcoming Ad expirations</div>
                <div class="panel-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Expires on</th>
                                <th>Client</th>
                                <th>Email</th>
                                <th>Accommodation</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for ad in upcomingExpirations %}
                            <tr>
                                <td>{{ ad.dueDate|date('d/m/Y H:i') }}</td>
                                <td>{{ ad.accommodation.client.name }} {{ ad.accommodation.client.surname}}</td>
                                <td>{{ ad.accommodation.client.email }}</td>
                                <td>{{ ad.accommodation.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <div class="col-sm-6">
        <section class="panel">
            <div class="panel panel-success">
                <div class="panel-heading">Active Ads</div>
                <div class="panel-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Expires on</th>
                                <th>Client</th>
                                <th>Accommodation</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for ad in actives %}
                            <tr>
                                <td>{{ ad.dueDate|date('d/m/Y H:i') }}</td>
                                <td>{{ ad.accommodation.client.name }} {{ ad.accommodation.client.surname}}</td>
                                <td>{{ ad.accommodation.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}
