{% extends 'MGClientsBackendBundle:Base:layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <section class="panel">
                <header class="panel-heading">Edit {{ entity_singular }}</header>
                <div class="panel-body">

                    {% include 'MGClientsBackendBundle:Base:notice.html.twig' %}

                    {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                    {{ form_end(edit_form) }}

                    {{ form_start(delete_form) }}
                        <input class="btn btn-danger" type="submit" value="Delete">
                    {{ form_end(delete_form) }}

                </div>
            </section>
        </div>
    </div>

{% endblock %}
