<header class="header dark-bg">
    <a href="{{ path('homepage')}}" class="logo">
        {#
        {% image 'assets/img/logo/white_logo.png' %}
            <img class="backend-logo" src="{{ asset_url }}" alt="MGClients" width="" />
        {% endimage %}
        #}
        MG <span class="lite">Clients</span>
    </a>

    <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="profile-ava">
                        {% image 'assets/img/avatar1_small.jpg' %}
                            <img alt="avatar" src="{{ asset_url }}">
                        {% endimage %}
                    </span>
                    <span class="username">{{ app.user.username }}</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>
                    <li>
                        <a href="{{ path('fos_user_security_logout')}}"><i class="icon_key_alt"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</header>

{% include 'MGClientsBackendBundle:Base:sidebar.html.twig' %}
