{# Backend layout #}

{% extends 'base.html.twig' %}

{% block body %}

    {% include 'MGClientsBackendBundle:Base:header.html.twig' %}

    <section id="main-content">
          <section class="wrapper">
              <!--overview start-->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa {{ icon}}"></i> {{ header}}</h3>
                    <!--
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                        <li><i class="fa fa-laptop"></i>Dashboard</li>
                    </ol>
                    -->
                </div>
            </div>

    {% block content %}{% endblock %}

{% endblock %}
