{% extends 'MGClientsBackendBundle:Base:layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <section class="panel">
                <header class="panel-heading">New {{ entity_singular }}</header>
                <div class="panel-body">

                    {% include 'MGClientsBackendBundle:Base:notice.html.twig' %}

                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                    {{ form_end(form) }}

                </div>
            </section>
        </div>
    </div>
{% endblock %}
