{% if info is defined %}
    <div class="alert alert-info fade in">
      <button data-dismiss="alert" class="close close-sm" type="button">
          <i class="fa fa-close"></i>
      </button>
      <strong>Remember</strong> {{ info }}
  </div>
{% endif %}
