<!--sidebar start-->
    <aside>
          <div id="sidebar" class="nav-collapse">

            <ul class="sidebar-menu">
                    <li {% if app.request.get('_route') == 'homepage' %} class="active"{% endif %}>
                        <a class="" href="{{ path('homepage') }}">
                            <i class="icon_house_alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="{% if app.request.get( '_route' ) starts with 'plans' %} active {% endif %}">
                        <a href="{{ path('plans_index') }}">
                            <i class="icon_document_alt"></i>
                            <span>Plans</span>
                        </a>

                    </li>
                    <li class="{% if app.request.get( '_route' ) starts with 'clients' %} active {% endif %}">
                        <a href="{{ path('clients_index') }}" class="">
                            <i class="fa fa-group"></i>
                            <span>Clients</span>
                        </a>
                    </li>
                    <li class="sub-menu {% if app.request.get( '_route' ) starts with 'accommodation' %} active {% endif %}">
                        <a href="javascript:;" class="">
                            <i class="fa fa-h-square"></i>
                            <span>Accommodations</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="{{ path('accommodations_index') }}">List</a></li>
                            <li><a class="" href="{{ path('accommodations_new') }}">Create</a></li>
                            <li><a class="" href="{{ path('accommodation_types_index') }}">Types</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu {% if app.request.get( '_route' ) starts with 'ads' %} active {% endif %}">
                        <a href="javascript:;" class="">
                            <i class="fa fa-star-o"></i>
                            <span>Ads</span>
                        </a>
                        <ul class="sub">
                            <li><a href="{{ path('ads_index') }}">List</a></li>
                            <li><a href="{{ path('ads_new') }}">Create</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu {% if app.request.get( '_route' ) starts with 'payment' %} active {% endif %}">
                        <a href="javascript:;" class="">
                            <i class="fa fa-money"></i>
                            <span>Payments</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="{{ path('payments_index') }}">List</a></li>
                            <li><a class="" href="{{ path('payments_new') }}">Create</a></li>
                            <li><a class="" href="{{ path('payment_methods_index') }}">Methods</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
    </aside>
<!--sidebar end-->
