{% extends 'base.html.twig' %}

{% block title %}{{ 'security.login.title'|trans }}{% endblock %}

{% block custom_body %}
    <body class="login-img3-body">
        <div class="container">
            <div class="login-logo">
                {% image 'assets/img/logo/logo.png' %}
                    <img src="{{ asset_url }}" alt="MGClients" />
                {% endimage %}
            </div>
            
            {% if error %}
                <div>{{ error.message|trans }}</div>
            {% endif %}

            <form action="{{ path("fos_user_security_check") }}" method="post" class="login-form">
                <div class="login-wrap">
                    <p class="login-img"><i class="icon_lock_alt"></i></p>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                    <div class="input-group">
                      <span class="input-group-addon"><i class="icon_profile"></i></span>
                      <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="{{ 'security.login.username'|trans }}" autofocus=""/>
                     </div>

                     <div class="input-group">
                         <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                        <input type="password" id="password" name="_password" required="required" required="required" class="form-control" placeholder="{{ 'security.login.password'|trans }}" />
                     </div>
                     <label class="checkbox">
                         <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
                         <span class="pull-right"> <a href="#"> {{ 'security.login.forgot_password'|trans }}</a></span>
                     </label>

                     <button class="btn btn-primary btn-lg btn-block" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
                     <a href="{{ path('fos_user_registration_register') }}" class="btn-block">
                         <input type="button" class="btn btn-info btn-lg btn-block" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle')  }}" />
                    </a>

                </div>
            </form>
        </div>
    </body>
{% endblock %}
