{% extends 'base.html.twig' %}

{% block title %}MGClients{% endblock %}

{% block custom_body %}

    <body class="login-img3-body">
        <div class="container">
            <div class="login-logo">
                {% image 'assets/img/logo/logo.png' %}
                    <img src="{{ asset_url }}" alt="MGClients" />
                {% endimage %}
            </div>
            <div class="login-form">
                <section class="wrapper">
                    <div class="alert alert-success fade in">
                         <button data-dismiss="alert" class="close close-sm" type="button">
                             <i class="icon-remove"></i>
                         </button>
                         {% block fos_user_content %}{% endblock %}
                     </div>
                </section>
            </div>
        </div>
    </body>

{% endblock %}
