{% extends 'base.html.twig' %}

{% block title %}{{ 'security.registration.title'|trans }}{% endblock %}

{% block custom_body %}
    <body class="login-img3-body">
        <div class="container">

            <div class="login-logo">
                {% image 'assets/img/logo/logo.png' %}
                    <img src="{{ asset_url }}" alt="MGClients" />
                {% endimage %}
            </div>

            <form action="{{ path('fos_user_registration_register') }}" method="POST" class="login-form fos_user_registration_register">
                <h3>{{ 'security.registration.title'|trans }}</h3>
                <div class="login-wrap">
                    {{ form_widget(form) }}
                    <div>
                        <button class="btn btn-primary btn-lg btn-block" type="submit" id="_submit" name="_submit">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
                        <a href="{{ path('fos_user_security_login') }}" class="btn-block">
                            <input type="button" class="btn btn-info btn-lg btn-block" value="{{ 'layout.login'|trans({}, 'FOSUserBundle')  }}" />
                       </a>
                    </div>
                </div>
            </form>
        </div>
    </body>
{% endblock %}
